<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="navbar-text">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", flights_path, class: "nav-link" %>
          </li>


        <% else %>
          <li class="nav-item">
            <%= link_to "Fly to Space", new_user_session_path, class: "nav-link" %>

          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
