<style>

.space-image {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Andromeda_Galaxy_560mm_FL.jpg/1200px-Andromeda_Galaxy_560mm_FL.jpg') ;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

</style>
<div class="space-image pt-3">
  <div class="container">
    <div class="row homepage d-flex flex-column justify-content-end">
      <div class="col-md-4 cards-box">

        <div class="card-trip">
          <img src="https://spaceplace.nasa.gov/review/all-about-the-moon/the-moon-near-side.en.jpg">
          <div class="card-trip-infos">
            <div>
              <h2>Mars</h2>
              <p>fly to Mars!</p>
            </div>
              <h2 class="card-trip-pricing">£999.99</h2>
              <i class="fas fa-plane-departure"></i>
          </div>
        </div>

        <div class="card-trip">
          <img src="https://www.popsci.com/uploads/2019/01/07/3BR7HFELGONI3J4CB4USPR5GWI.jpg">
          <div class="card-trip-infos">
            <div>
              <h2>Neptune</h2>
              <p>fly to Neptune!</p>
            </div>
              <h2 class="card-trip-pricing">£999.99</h2>
              <i class="fas fa-plane-departure"></i>
          </div>
        </div>

        <div class="card-trip">
          <img src="https://www.popsci.com/uploads/2019/01/07/THFNFWTVBVSMJVYCP5BACG3YFQ.jpg">
          <div class="card-trip-infos">
            <div>
              <h2>Jupiter</h2>
              <p>fly to Jupiter!</p>
            </div>
              <h2 class="card-trip-pricing">£999.99</h2>
              <i class="fas fa-plane-departure"></i>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
