<%# <!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

/* Container for flexboxes */
.row {
  display: -webkit-flex;
  display: flex;
  gap: 16px;
}

/* Create three equal columns that sits next to each other */
.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Style the footer */
/* .footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
} */

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

/* .navbar-lewagon .navbar-brand img {
  width: 40px;
} */



</style>
</head>
<body>



<%# <div class="header">
  <h2>SSK Interstellar Travel</h2>
</div> %>

<%# <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Messages</a>
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
            </div>
          </li> %>
          <!--li class="nav-item"-->
          <!--/li-->
      <%# </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="column" style="background-color:#aaa;">Moon</div>
  <div class="column" style="background-image: url(https://images.theconversation.com/files/404401/original/file-20210604-13-128m0ja.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=1200.0&fit=crop)">Venus</div>
  <div class="column" style="background-color:#ccc;">Mercury</div>
  <div class="column" style="background-color:#bbb;">Jupiter</div>
  </div>

<div class="row">
  <div class="column" style="background-color:#ccc;">Saturn</div>
  <div class="column" style="background-color:#aaa;">Neptune</div>
  <div class="column" style="background-color:#bbb;">Uranus</div>
  <div class="column" style="background-color:#ccc;">Pluto</div>
</div>
 %>

<%# <div class="footer">
  <p>Footer</p>
</div> %>


<%# <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
</body>
</html> %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SSK</title>
</head>
<style>
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Andromeda_Galaxy_560mm_FL.jpg/1920px-Andromeda_Galaxy_560mm_FL.jpg');
  background-size: cover;
  background-position: center;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

}
.logo{
  width: 140px;
  cursor: pointer;
}

.sub-title{
  margin: 50px 0 20px;
  font-size: 2.2vw;
  font-weight: 500;
  color: #333;
}

.travel{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  margin-bottom: 20px;
 }

 .travel div img{
   width: 100%;
   border-radius: 10px;
 }
 .travel div{
  position: relative;
 }

 .travel div span{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
 }

 /* .footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
} */

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
/*
</style>
<body>
<div class="header">
<nav>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQecFMFDfIdx-PfIDZtmtkG0cZzED-AIy8AqA&usqp=CAU" class="logo">
<ul class="nav-links">
<li><a href="#">Popular Planet Trips</a></li>
<li><a href="#">Bookings</a></li>
</ul>
<a href="#" class="">Register Now</a>
</nav> */

</div>
  <div class="container">
       <h2 class="sub-title">SSK Interstellar Travel</h2>
       <div class="travel">
            <div>
            <img src="https://solarsystem.nasa.gov/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBajl5IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--1771be6bd46710c30aa93cd6c3ababe23ad52681/480x320_venus.png?disposition=inline">
            <span>
            <h3>Venus</h3>
            <p>Starts @ 4999</p>
            </span>
            </div>
            <div>
            <img src="https://solarsystem.nasa.gov/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBajF5IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--f83e2101be00f832081169073e7d511d19d91515/mercury_480x320_new.jpg?disposition=inline">
            <span>
            <h3>Mercury</h3>
            <p>Starts @ 4999</p>
            </span>
            </div>
            <div>
            <img src="https://solarsystem.nasa.gov/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBa1J5IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--e0c43c740e3f68577d54939e8081f2311113f36e/mars_480x320.jpg?disposition=inline">
            <span>
            <h3>Mars</h3>
            <p>Starts @ 4999</p>
            </span>
            </div>
            <div>
            <img src="https://solarsystem.nasa.gov/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBa3B5IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--b54f499dbe9d4b73a0292a51f63fcda615496b9a/jupiter_480x320_new.jpg?disposition=inline">
            <span>
            <h3>Jupiter</h3>
            <p>Starts @ 4999</p>
            </span>
            </div>
            <div>
            <img src="https://solarsystem.nasa.gov/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBbkp5IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--cb7cb2868fd8b4892788893961c20975baffeb52/neptune_480x320.jpg?disposition=inline">
            <span>
            <h3>Neptune</h3>
            <p>Starts @ 4999</p>
            </span>
            </div>
            <div>
            <img src="https://solarsystem.nasa.gov/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBbXB5IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--b7591d57707f65489874a87412390a9b34a9a74e/uranus_480x320.jpg?disposition=inline">
            <span>
            <h3>Uranus</h3>
            <p>Starts @ 4999</p>
            </span>
            </div>
            </div>



            <%# <div class="footer">
  <p>Footer</p>
</div> %>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
</body>
</html>

</body>
</html>
