<style>

body {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Andromeda_Galaxy_560mm_FL.jpg/1200px-Andromeda_Galaxy_560mm_FL.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
</style>


<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
        <img src="https://spaceplace.nasa.gov/review/all-about-the-moon/the-moon-near-side.en.jpg"width="200" height="200">
        <div class="caption">
          <p>Lorem ipsum...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </a>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
        <img src="https://www.popsci.com/uploads/2019/01/07/RZODSOHKA6O4VMNPPUW7GUTUBE-2048x2048.jpg"width="200" height="200">
        <div class="caption">
          <p>Lorem ipsum...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </a>
    </div>
  </div>
<div class="col-md-4">
    <div class="thumbnail">
        <img src="https://www.popsci.com/uploads/2019/01/07/2JK6SFTHA6WHV56FGHXNWWNDSE.jpg"width="200" height="200">
        <div class="caption">
          <p>Lorem ipsum...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
        <img src="https://www.popsci.com/uploads/2019/01/07/LP5TMWXTF6VV6VQ6YDQGZ3YLQQ.jpg"width="200" height="200">
        <div class="caption">
          <p>Lorem ipsum...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </a>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
        <img src="https://www.popsci.com/uploads/2019/01/07/3BR7HFELGONI3J4CB4USPR5GWI.jpg"width="200" height="200">
        <div class="caption">
          <p>Lorem ipsum...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </a>
    </div>
  </div>
<div class="col-md-4">
    <div class="thumbnail">
        <img src="https://www.popsci.com/uploads/2019/01/07/M5DUH5KZFNUT5CDTMPIBXAD2GU-2048x1010.jpg"width="200" height="200">
        <div class="caption">
          <p>Lorem ipsum...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="row">
<div class="col-md-4">
    <div class="thumbnail">
        <img src="https://www.popsci.com/uploads/2019/01/07/XYNJU7VV7ISTJ4HJLUR5ERUZOE.jpg"width="200" height="200">
        <div class="caption">
          <p>Lorem ipsum...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
        <img src="https://www.popsci.com/uploads/2019/01/07/THFNFWTVBVSMJVYCP5BACG3YFQ.jpg"width="200" height="200">
        <div class="caption">
          <p>Lorem ipsum...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </a>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://www.popsci.com/uploads/2019/01/07/N3OYC3VMO5GPI2B5WQ733PLNNE.jpg" alt="Pluto" width="200" height="200">
      <div class="caption">
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
