.submit-btn {
	color: #fff;
  text-align: center;
  border: 5px;
  padding: 10px;
}

.form-button:hover {
	background: #024174;
	color: #fff;
}

.btn-cancel {
  background-color: rgb(234, 195, 20);
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  border-color: none;
}

.btn-home {
  background: #024174;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  border-color: none;

}
