.form-button {
	background: #0a508a;
	color: #fff;
	border: 1px solid #eee;
  height: 50px;
  width: 320px;
	border-radius: 5px;
  text-align: center;
}

.form-button:hover {
	background: #024174;
	color: #fff;
	border: 1px solid #eee;
  height: 50px;
  width: 320px;
	border-radius: 5px;
  text-align: center;
}
